/**
 * Primary Application Stylesheet
 */

* {
  box-sizing: border-box;
}

header {
	
	position: relative;
	
	&:hover {

		padding-left: 3em;

		.icons {
			visibility: visible;
		}
	}
	
}

.icons {
	
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
	
	> .btn {
		display: block;
		margin-bottom: 5px;
	}
	
	&:hover {
		visibility: visible;
	}

	* {
		cursor: pointer;
		display: block;
	}
	
}



.sheet {
	
	.sheet-title {}
	.sheet-description {}

	.sheet-data {

		.group {}
		.group-wrapper {}

		.group-name {
			margin: 0; padding: 0.5em; border-bottom: 1px solid #e3e3e3;
		}
		
		.items {
			
			.item { display: block; cursor: pointer }
			.item-name { font-family: Courier, monospace }
			.item-caption { display: none; cursor: default }
			
		}

	}
	
	
}
