/**
 * Primary Application Stylesheet
 */

* {
  box-sizing: border-box;
}

header {
	
	position: relative;
	
	&:hover {

		padding-left: 3em;

		.icons {
			visibility: visible;
		}
	}
	
}

.icons {
	
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	
	&:hover {
		visibility: visible;
	}

	* {
		cursor: pointer;
		display: block;
	}
	
}
