<fieldset>
	<legend>{{mode}} Sheet</legend>
	{{#if id}}<input type="hidden" name="id" value="{{id}}" />{{/if}}
	<input type="text" name="title" value="{{title}}" placeholder="Title" /><br/>
	<textarea name="description" id="" cols="30" rows="3" placeholder="Description">{{description}}</textarea><br/>
	<button class="btn btn-primary" data-gf-click="submitForm">Save</button>&nbsp;&nbsp;
	<a href="#" data-gf-click="cancelForm">Cancel</a>
</fieldset>
