{{#if title}}
<fieldset>
	<legend>{{title}}</legend>
{{/if}}

	<div class="fields"></div>

	<button class="btn btn-primary" data-gf-click="submitForm">Save</button>&nbsp;&nbsp;
	<a href="#" data-gf-click="cancelForm">Cancel</a>

{{#if title}}
</fieldset>
{{/if}}
