<header>
	<h1 class="title">{{title}}</h1>
	<p class="description">{{description}}</p>
	<p class="icons">
		<button class="btn btn-info btn-edit"><i class="icon-edit"></i></button>
		<button class="btn btn-info btn-delete"><i class="icon-trash"></i></button>
	</p>
</header>
<div class="sheet-data">
	<!-- groups -->
</div>
<!--
<div class="row">
	<div class="col-lg-12">
		<h1>Sheet Title</h1>
		<p>Sheet descriptions or some shit.</p>
	</div>
</div>
<div class="row">
	<div class="col-lg-6"></div>
	<div class="col-lg-6"></div>
</div>
-->
